.navbar{
    background-color: #0096FF;
    margin-top: -10px;
}

.nav{
    margin-left: 400px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.navbar ul li{
    margin-left: 50px;
    list-style-type: none;
    margin-left: 100px;
}

.navbar ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

@media only screen and (max-width: 600px){
    .navbar{
        display: flex;
        flex-direction: column;
    }

    .navbar ul{
        display: none;
    }
}